.imgs {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.imgs .imgs_content {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 85%;
    border-radius: 5px;
    background-color: rgba(177, 176, 176, 0.372);
}

.imgs .imgs_content .close {
    display: flex;
    justify-content: end;
    padding: 10px;
    width: 100%;
}

.imgs .imgs_content .close ion-icon {
    font-size: 3rem;
    cursor: pointer;
}

.imgs .imgs_content .carrossel {
    display: flex;
    align-items: center;
    height: 70%;
    margin: 20px;
    border-radius: 5px;
    justify-content: center;
    background-color: rgb(237, 227, 227);
}

.imgs .imgs_content .carrossel ion-icon {
    font-size: 3rem;
    cursor: pointer;
}

.imgs .imgs_content .carrossel .itens {
    height: 80%;
    width: 70%;
    border-radius: 5px;
    background-image: url('/assets/img/fundomain.JPG');
    background-size: cover;
    background-position: center;
}