@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bodoni Moda", serif;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

header .logo {
    width: 12rem;
    height: 5rem;
    margin: 20px 10rem;
}

header nav {
    display: flex;
    justify-content: end;
    margin: 20px 10rem 20px 20px;
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-weight: 700;
}


header nav ul li a:hover {
    border-bottom: 3px solid black;
}

/* HAMBUGUER */

.menu-toggle {
    width: 92%;
    height: 60px;
    position: fixed;
    display: none;
    justify-content: end;
    align-items: center;
    z-index: 10;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hamburger::before, .hamburger::after {
    content: '';
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.open .hamburger {
    transform: rotate(47deg);
}

.open .hamburger::before {
    transform: rotate(-90deg) translate(-8px, 0);
}

.open .hamburger::after {
    transform: rotate(90deg) translate(-8px, 0);
}




/* NAV MENU */

.nav_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    transition: top 0.3s ease-in-out;
    z-index: 9;
}

.nav_menu.open {
    top: 0;
}

.nav_menu ul {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    list-style: none;
}

.nav_menu ul li {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.nav_menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 3, 3, 0);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
}

.nav_menu .social_media .icon {
    margin-top: 50px;
}