@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bodoni Moda", serif;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
}

header .logo {
    width: 12rem;
    height: 5rem;
    margin: 20px 10rem;
}

header nav {
    display: flex;
    justify-content: end;
    margin: 20px 10rem 20px 20px;
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-weight: 700;
}


header nav ul li a:hover {
    border-bottom: 3px solid black;
}

/* HAMBUGUER */

.menu-toggle {
    width: 92%;
    height: 60px;
    position: fixed;
    display: none;
    justify-content: end;
    align-items: center;
    z-index: 2;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hamburger::before, .hamburger::after {
    content: '';
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.open .hamburger {
    transform: rotate(47deg);
}

.open .hamburger::before {
    transform: rotate(-90deg) translate(-8px, 0);
}

.open .hamburger::after {
    transform: rotate(90deg) translate(-8px, 0);
}