#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/fundo.jpg');
    background-size: cover;
    background-position: center;  
      
}

#inicio .logo {
    margin: 15rem 0;
    width: 40rem;
    height: 17rem;
}

.informação_inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6rem;
    background-color: white;
    margin-top: -5rem;
}

.informação_inicio h2 {
    font-size: 50px;
    font-weight: 200;
}