#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/fundomain.JPG');
    background-size: cover;
    background-position: center;  
      
}

#inicio .logo {
    margin: 15rem 0;
    width: 40rem;
    height: 17rem;
}

.informação_inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6rem;
    background-color: white;
    margin-top: -5rem;
}

.informação_inicio h2 {
    font-size: 50px;
    font-weight: 200;
}

/* ICON WHATS */

.icone_whats {
    top: 80%;
    margin-left: 50px;
    font-size: 40px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.icone_whats a {
    display: flex;
    padding: 10px;
    border-radius: 50px;
    list-style-type: none;
    color: white;
    background: green;
}